@model IEnumerable<UBB_SE_2024_Music.Models.Sound>

@{
    ViewData["Title"] = "All Sounds";
}

<h1>Your current creation</h1>

<p>
    <a asp-action="BrowseSounds">Browse sounds</a>
</p>

<form>
    <a asp-action="Index" class="btn btn-secondary">Play</a>
    <a asp-action="SaveCreation" class="btn btn-secondary">Save</a>
    <a asp-action="LoadCreation" class="btn btn-secondary">Load</a>
</form>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Type)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                <td>
                    <form asp-action="DeleteSoundFromCreation">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>