@model UBB_SE_2024_Music.DTO.SongBasicInformation

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Name - Song Details</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UBB_SE_2024_Music.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Song Details</h1>

        <div class="card mt-4">
            <div class="card-body">
                <h2 class="card-title">@Model.Name</h2>
                <p class="card-text">Artist: @Model.Artist</p>
                <p class="card-text">Genre: @Model.Genre</p>
                <p class="card-text">Subgenre: @Model.Subgenre</p>
                <p class="card-text">Language: @Model.Language</p>
                <p class="card-text">Country: @Model.Country</p>
                <p class="card-text">Album: @Model.Album</p>
                <img src="@Model.Image" alt="Song Image" class="img-fluid" />
                <h3>Features</h3>
                <ul class="list-group">
                    @foreach (var feature in Model.Features)
                    {
                        <li class="list-group-item">@feature</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
